DATABASE_DRIVER=postgres
DEBUG=*

DATABASE_URL_MONGODB=mongodb://localhost:27017/afisha

DATABASE_URL_POSRGRES=0.0.0.0
DATABASE_PORT=5432
DATABASE_USERNAME=api_user
DATABASE_PASSWORD=password
DATABASE_NAME=practikum